<div class="content">
    <div class="jumbotron">
        <div class="container text-center">
            <h1>TwitTrack</h1>
            <p>Localise, analyse and study posts from Twitter</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-push-4">

            <div class="btn btn-lg btn-block"><a href="/login/twitter">Log In with Twitter</a></div>

        </div>
    </div>
    <div class="row " style="padding: 20px">
        <article class="">
            <hr1 size="30"><p>Useful for</p></hr1>
            <div class="col-sm-4 panel" id="article">
                <div class="panel-heading">
                    <p class="text-center">Social Commerce Improvement</p>
                </div>
                <div class="panel-body"></div>
            </div>
            <div class="col-sm-4 panel " id="article">
                <div class="panel-heading">
                    <p class="text-center">Social Epidemics Detection</p>
                </div>
                <div class="panel-body"></div>
            </div>
            <div class="col-sm-4 panel" id="article">
                <div class="panel-heading">
                    <p class="text-center">Crime Detection</p>
                </div>
                <div class="panel-body"></div>
            </div>
        </article>
    </div>

    <hr>
    <footer class="container-fluid text-center">
        <div style="font-size: 90%" align="center"><p>Please contact
                <!-- START: CHANGE THE EMAIL ADDRESS IN 2 PLACES BELOW TO THE CORRECT CONTACT PERSON FOR THIS WEB PAGE -->
                <a href="mailto:alessandro.munufie@stu.mmu.ac.uk">alessandro.munufie@stu.mmu.ac.uk</a>
                <!-- STOP -->
                <br/>
                with your questions, comments, and suggestions.<br/>
                Copyright &copy; Alessandro Munufie</a>. All rights reserved.</p>
        </div>
    </footer>
</div>
